@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button 
  input[type="number"]::{
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
  }
}

